mixin product-unit(data)
    each item in data
        +e.item
            +b.product-unit&attributes(attributes)(class= item.mod ? '_' + item.mod : '' )
                +e.block.js-product-unit
                    +e.wrapper
                        +e.note #{item.note}
                        +e.warning Котэ не одобряет?
                        +e.title #{item.title}
                        +e.subtitle #{item.subtitle}
                        +e.info !{item.info}

                    +e.spacer

                    +e.img
                        +e.IMG.img-src(src='%=static=%img/assets/product-unit/product-unit-img.jpg' alt=item.title + ' ' + item.subtitle)

                    +e.weight
                        +e.weight-number #{item.weight}
                        +e.weight-info #{item.weightText}

                +e.footer
                    +e.footer-default
                        | Чего сидишь? Порадуй котэ,
                        +e.A.link.js-product-unit(href='#')  купи.

                    +e.footer-active #{item.footerInfo}

                    +e.footer-disabled #{item.footerDisabled}
