.product-unit
    margin 0 auto
    display flex
    flex-direction column
    max-width 320px
    height 100%

    &__block
        position relative
        margin-top 40px
        display flex
        flex-direction column
        flex 1 1 auto
        background $white-eleven
        border solid 4px $water-blue
        border-top none
        border-radius 3px 0 12px 12px
        cursor pointer
        transition border .3s

        &:hover
            border-color $dark-sky-blue-four

        &:focus
            outline none

        ~/_active &
            border-color $lipstick-two

        ~/_warning &
            border-color $darkish-pink

        ~/_disabled &
            border-color $greyish-two
            cursor default

        &:before
            position absolute
            top -38px
            left 16px
            display block
            content ''
            width 50px
            height 40px
            box-sizing border-box
            border-top solid 4px $water-blue
            border-left solid 4px $water-blue
            background $white-eleven
            transform skew(-45deg)
            transition border .3s

            ^[-1]:hover&
                border-color $dark-sky-blue-four

                ~/_active &
                    border-color $lipstick-two

                ~/_warning &
                    border-color $darkish-pink

                ~/_disabled &
                    border-color $greyish-two

            ~/_active &
                border-color $lipstick-two

            ~/_warning &
                border-color $darkish-pink

            ~/_disabled &
                border-color $greyish-two

        &:after
            position absolute
            top -38px
            right -4px
            display block
            content ''
            width calc(100% - 40px)
            height 40px
            box-sizing border-box
            border solid 4px $water-blue
            border-left none
            border-bottom none
            border-radius 0 12px 0 0
            background $white-eleven
            transition border .3s

            ^[-1]:hover&
                border-color $dark-sky-blue-four

                ~/_active &
                    border-color $lipstick-two

                ~/_warning &
                    border-color $darkish-pink

                ~/_disabled &
                    border-color $greyish-two

            ~/_active &
                border-color $lipstick-two

            ~/_warning &
                border-color $darkish-pink

            ~/_disabled &
                border-color $greyish-two

    &__wrapper
        position relative
        margin-top -40px
        padding 20px 45px 18px
        z-index 1

    &__note
        color $brownish-grey
        line-height 1

        ~/_disabled &
            color rgba(179, 179, 179, 0.5)

        ~/_warning &
            display none

    &__warning
        display none
        line-height 1
        color $darkish-pink

        ~/_warning &
            display block

    &__title
        margin-top 12px
        font-size 3rem
        font-weight bold
        line-height 1
        color $black

        ~/_disabled &
            color rgba(179, 179, 179, 0.5)

    &__subtitle
        margin-top 5px
        font-size 1.5rem
        font-weight bold
        line-height 1
        color $black

        ~/_disabled &
            color rgba(179, 179, 179, 0.5)

    &__info
        margin-top 18px
        font-size .875rem
        line-height 1.14
        text-align left
        color $brownish-grey

        ~/_disabled &
            color rgba(179, 179, 179, 0.5)

    &__spacer
        flex-grow 1

    &__img
        overflow hidden
        border-radius 0 0 8px 8px

    &__img-src
        display block
        max-width 100%

        ~/_disabled &
            opacity 0.5

    &__weight
        position absolute
        right 11px
        bottom 11px
        padding-top 10px
        display block
        width 80px
        height 80px
        border-radius 50%
        background $water-blue
        color $white
        text-align center
        transition background .3s

        ~/_active &
            background $lipstick-two

        ~/_warning &
            background $darkish-pink

        ~/_disabled &
            background $greyish-two

        ~/__block:hover &
            background $dark-sky-blue-four

            ~/_active &
                background $lipstick-two

            ~/_warning &
                background $darkish-pink

            ~/_disabled &
                background $greyish-two

    &__weight-number
        font-size 2.625rem
        line-height 1

    &__weight-info
        font-size 1.313rem
        line-height 1

    &__footer
        margin-top 15px
        font-size .813rem
        line-height 1.23
        text-align center
        color $white
        text-shadow 0 1px 0 $black

        ~/_disabled &
            color $canary

    &__footer-default
        display block

        ~/_active &,
        ~/_warning &,
        ~/_disabled &
            display none

    &__footer-active
        display none

        ~/_active &,
        ~/_warning &
            display block

    &__footer-disabled
        display none

        ~/_disabled &
            display block
    &__link
        color $water-blue
        text-decoration dashed
        transition color .3s

        &:hover
            color $dark-sky-blue-four
