doctype html
html(class="no-js", lang="ru")

    include ../blocks/bemto/bemto
    include ../blocks/head/head
    include ../blocks/section/section
    include ../blocks/product-unit/product-unit

    head
        +head(head.defaults)

    body.page
        | %=symbols=%

        +section('Ты сегодня покормил кота?')
            +product-unit(productUnit)

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
