// Common styles of the project

// Reset default styles.
* // @stylint ignore
    margin 0
    padding 0
    font inherit
    box-sizing border-box

html, body
    min-height 100%
    font-size 16px

.page
    margin 0
    padding 0
    display flex
    width 100%
    min-height 100vh
    flex-direction column
    align-items center
    justify-content center
    font-family $fontMain
    line-height 1.4
    cursor default
    color $colorText
    background linear-gradient(to top, rgba(0,0,0,.5), rgba(0, 0, 0, 0.01) 50%, rgba(0,0,0,.5)), url('%=static=%general/page_bg.jpg') left top repeat

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

.page__buffer
    height 50px
