.section
    padding 40px 0

    +mobile()
        padding 20px 0

    &__title
        margin-bottom 20px
        font-family $CustomFont
        font-size 2.25rem
        font-weight 100
        text-align center
        color $white
        text-shadow 0 1px 0 black

        +mobile()
            font-size 1.5rem

    &__row
        display flex
        flex-direction row
        flex-wrap wrap
        justify-content center

        +mobile()
            flex-direction column

    &__item
        margin 0 40px 30px

        +tablet()
            margin 0 20px 30px

        +mobile()
            margin 0 0 30px

        &:last-child
            +below(1199px)
                margin-bottom 0

