/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2.0-Thin.otf");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  font-size: 16px;
}
.page {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Trebuchet MS';
  line-height: 1.4;
  cursor: default;
  color: #fff;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.5)), url("../img/general/page_bg.jpg") left top repeat;
  background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.5)), url("../img/general/page_bg.jpg") left top repeat;
}
.page__wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
* html .page__wrapper {
  height: 100%;
}
.page__buffer {
  height: 50px;
}
.product-unit {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  height: 100%;
}
.product-unit__block {
  position: relative;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #f2f2f2;
  border: solid 4px #1698d9;
  border-top: none;
  border-radius: 3px 0 12px 12px;
  cursor: pointer;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.product-unit__block:hover {
  border-color: #2ea8e6;
}
.product-unit__block:focus {
  outline: none;
}
.product-unit_active .product-unit__block {
  border-color: #d91667;
}
.product-unit_warning .product-unit__block {
  border-color: #e62e7a;
}
.product-unit_disabled .product-unit__block {
  border-color: #b3b3b3;
  cursor: default;
}
.product-unit__block:before {
  position: absolute;
  top: -38px;
  left: 16px;
  display: block;
  content: '';
  width: 50px;
  height: 40px;
  box-sizing: border-box;
  border-top: solid 4px #1698d9;
  border-left: solid 4px #1698d9;
  background: #f2f2f2;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.product-unit__block:hover.product-unit__block:before {
  border-color: #2ea8e6;
}
.product-unit_active .product-unit__block:hover.product-unit__block:before {
  border-color: #d91667;
}
.product-unit_warning .product-unit__block:hover.product-unit__block:before {
  border-color: #e62e7a;
}
.product-unit_disabled .product-unit__block:hover.product-unit__block:before {
  border-color: #b3b3b3;
}
.product-unit_active .product-unit__block:before {
  border-color: #d91667;
}
.product-unit_warning .product-unit__block:before {
  border-color: #e62e7a;
}
.product-unit_disabled .product-unit__block:before {
  border-color: #b3b3b3;
}
.product-unit__block:after {
  position: absolute;
  top: -38px;
  right: -4px;
  display: block;
  content: '';
  width: calc(100% - 40px);
  height: 40px;
  box-sizing: border-box;
  border: solid 4px #1698d9;
  border-left: none;
  border-bottom: none;
  border-radius: 0 12px 0 0;
  background: #f2f2f2;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.product-unit__block:hover.product-unit__block:after {
  border-color: #2ea8e6;
}
.product-unit_active .product-unit__block:hover.product-unit__block:after {
  border-color: #d91667;
}
.product-unit_warning .product-unit__block:hover.product-unit__block:after {
  border-color: #e62e7a;
}
.product-unit_disabled .product-unit__block:hover.product-unit__block:after {
  border-color: #b3b3b3;
}
.product-unit_active .product-unit__block:after {
  border-color: #d91667;
}
.product-unit_warning .product-unit__block:after {
  border-color: #e62e7a;
}
.product-unit_disabled .product-unit__block:after {
  border-color: #b3b3b3;
}
.product-unit__wrapper {
  position: relative;
  margin-top: -40px;
  padding: 20px 45px 18px;
  z-index: 1;
}
.product-unit__note {
  color: #666;
  line-height: 1;
}
.product-unit_disabled .product-unit__note {
  color: rgba(179,179,179,0.5);
}
.product-unit_warning .product-unit__note {
  display: none;
}
.product-unit__warning {
  display: none;
  line-height: 1;
  color: #e62e7a;
}
.product-unit_warning .product-unit__warning {
  display: block;
}
.product-unit__title {
  margin-top: 12px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
}
.product-unit_disabled .product-unit__title {
  color: rgba(179,179,179,0.5);
}
.product-unit__subtitle {
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
}
.product-unit_disabled .product-unit__subtitle {
  color: rgba(179,179,179,0.5);
}
.product-unit__info {
  margin-top: 18px;
  font-size: 0.875rem;
  line-height: 1.14;
  text-align: left;
  color: #666;
}
.product-unit_disabled .product-unit__info {
  color: rgba(179,179,179,0.5);
}
.product-unit__spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.product-unit__img {
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}
.product-unit__img-src {
  display: block;
  max-width: 100%;
}
.product-unit_disabled .product-unit__img-src {
  opacity: 0.5;
}
.product-unit__weight {
  position: absolute;
  right: 11px;
  bottom: 11px;
  padding-top: 10px;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #1698d9;
  color: #fff;
  text-align: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.product-unit_active .product-unit__weight {
  background: #d91667;
}
.product-unit_warning .product-unit__weight {
  background: #e62e7a;
}
.product-unit_disabled .product-unit__weight {
  background: #b3b3b3;
}
.product-unit__block:hover .product-unit__weight {
  background: #2ea8e6;
}
.product-unit_active .product-unit__block:hover .product-unit__weight {
  background: #d91667;
}
.product-unit_warning .product-unit__block:hover .product-unit__weight {
  background: #e62e7a;
}
.product-unit_disabled .product-unit__block:hover .product-unit__weight {
  background: #b3b3b3;
}
.product-unit__weight-number {
  font-size: 2.625rem;
  line-height: 1;
}
.product-unit__weight-info {
  font-size: 1.313rem;
  line-height: 1;
}
.product-unit__footer {
  margin-top: 15px;
  font-size: 0.813rem;
  line-height: 1.23;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.product-unit_disabled .product-unit__footer {
  color: #ff6;
}
.product-unit__footer-default {
  display: block;
}
.product-unit_active .product-unit__footer-default,
.product-unit_warning .product-unit__footer-default,
.product-unit_disabled .product-unit__footer-default {
  display: none;
}
.product-unit__footer-active {
  display: none;
}
.product-unit_active .product-unit__footer-active,
.product-unit_warning .product-unit__footer-active {
  display: block;
}
.product-unit__footer-disabled {
  display: none;
}
.product-unit_disabled .product-unit__footer-disabled {
  display: block;
}
.product-unit__link {
  color: #1698d9;
  text-decoration: dashed;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.product-unit__link:hover {
  color: #2ea8e6;
}
.section {
  padding: 40px 0;
}
@media only screen and (max-width: 767px) {
  .section {
    padding: 20px 0;
  }
}
.section__title {
  margin-bottom: 20px;
  font-family: 'Exo 2', sans-serif;
  font-size: 2.25rem;
  font-weight: 100;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
@media only screen and (max-width: 767px) {
  .section__title {
    font-size: 1.5rem;
  }
}
.section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 767px) {
  .section__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section__item {
  margin: 0 40px 30px;
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .section__item {
    margin: 0 20px 30px;
  }
}
@media only screen and (max-width: 767px) {
  .section__item {
    margin: 0 0 30px;
  }
}
@media only screen and (max-width: 1199px) {
  .section__item:last-child {
    margin-bottom: 0;
  }
}
